.comment
  background-color: white
  border-left: 7px solid lightgray
  padding: 10px
  margin-top: 0
  margin-bottom: 0
  margin-left: 10px
  border-bottom: 1px solid lightgray
  border-top: 1px solid lightgray

  .comment-text
    padding: 5px

  .comment-header
    display: flex
    justifyContent: start
    gap: 10px

    .comment-user
      font-weight: bold
      color: $grey 

    .votes
      font-weight: bold

  .comment-footer
    display: flex
    gap: 10px

    i
      color: $grey
